node_modules/
.env
*.log
.DS_Store
backend/public/uploads/projects/*
!backend/public/uploads/projects/.gitkeep
frontend/dist/
frontend/node_modules/
node_modules
dist
web/node_modules
web/dist
server/node_modules
server/dist
server/.env
